/* Font */
.roboto {
    font-family: 'Roboto', sans-serif;
}

.dm_serif_text {
    font-family: 'DM Serif Text', serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.open_sans {
    font-family: 'Open Sans', sans-serif;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.playfair_display {
    font-family: 'Playfair Display', serif;
}